//@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.radio {
  position: relative;
  label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    font-size: 11px;
    margin-left: 16px;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      left: 0;
      margin-left: -13px;
      border: 1px solid #00d6c4;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out;
      outline-color: transparent;
    }
    &::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 15px;
      height: 15px;
      left: 8px;
      top: 1px;
      margin-left: -20px;
      padding-left: 2px;
      border-radius: 50%;
      color: $white;
      background-color: transparent;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s
        cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      font-family: "FontAwesome";
    }
  }
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1px;
    top: 4px;
    z-index: 99;
    &:focus {
      + {
        label {
          &::before {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -20px;
          }
        }
      }
    }
    &:checked {
      + {
        label {
          &::after {
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
            content: "\f00c";
            background-color: $teal-600;
            color: $white;
          }
        }
      }
    }
    &:disabled {
      + {
        label {
          opacity: 0.65;
          &::before {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
.radio.radio-inline {
  margin-top: 0;
}
.radio-primary {
  input[type="radio"] {
    + {
      label {
        &::after {
          background-color: $primary-color;
        }
        &::before {
          border-color: $primary-color-80;
        }
      }
    }
    &:checked {
      + {
        label {
          &::before {
            border-color: $primary-color;
          }
          &::after {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
.radio-secondary {
  input[type="radio"] {
    + {
      label {
        &::after {
          background-color: $secondary-color;
        }
        &::before {
          border-color: $secondary-color-80;
        }
      }
    }
    &:checked {
      + {
        label {
          &::before {
            border-color: $secondary-color;
          }
          &::after {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}
.radio-danger {
  input[type="radio"] {
    + {
      label {
        &::after {
          background-color: $danger-color;
        }
        &::before {
          border-color: $danger-color-80;
        }
      }
    }
    &:checked {
      + {
        label {
          &::before {
            border-color: $danger-color;
          }
          &::after {
            background-color: $danger-color;
          }
        }
      }
    }
  }
}
.radio-info {
  input[type="radio"] {
    + {
      label {
        &::after {
          background-color: $info-color;
        }
        &::before {
          border-color: $info-color-80;
        }
      }
    }
    &:checked {
      + {
        label {
          &::before {
            border-color: $info-color;
          }
          &::after {
            background-color: $info-color;
          }
        }
      }
    }
  }
}
.radio-warning {
  input[type="radio"] {
    + {
      label {
        &::after {
          background-color: $warning-color;
        }
        &::before {
          border-color: $warning-color-80;
        }
      }
    }
    &:checked {
      + {
        label {
          &::before {
            border-color: $warning-color;
          }
          &::after {
            background-color: $warning-color;
          }
        }
      }
    }
  }
}
.radio-success {
  input[type="radio"] {
    + {
      label {
        &::after {
          background-color: $success-color;
        }
        &::before {
          border-color: $success-color-80;
        }
      }
    }
    &:checked {
      + {
        label {
          &::before {
            background-color: $success-color;
          }
        }
      }
    }
  }
}
